.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 1rem;
}

.input-wrapper {
  display: flex;
  position: relative;
  flex-grow: 1;
  height: 2.5rem;
}

input {
  flex-grow: 1;
  text-indent: 0.5rem;
  border: solid 1.5px #e3e3e3;
  border-radius: 0;
  box-shadow: 0 3px 10pt 0 #e3e3e3;
}

input:focus,
input:focus-visible {
  border: 2px solid #005fcc;
  outline: none;
}

.button-focused {
  background-color: #0349fc;
  border-color: transparent;
  outline: none;
}

.button-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}

button {
  height: 100%;
  background: none;
  border: none;
}

.loupe-active {
  color: white;
}

@media only screen and (max-width: 480px) {
  .container {
    flex-direction: column;
  }

  label {
    margin-right: auto;
  }

  .input-wrapper {
    width: 100%;
  }
}
